Flask==2.0.1
Werkzeug==2.0.1
pymysql==1.0.2
nltk==3.6.7
scikit-learn==0.24.2
PyPDF2==2.10.5
spacy==3.7.5
transformers==4.11.3
torch==1.10.0
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl
langdetect
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
pymupdf